<div class="w-100 text-center">
  <p class="fs-4" >You have been logged out of the 
  {{#if user}}
    User
  {{else}}
    Admin
  {{/if}} page</p>
  <p> You will be redirected to Homepage in <span id="seconds"></span></p>
</div>